<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <meta http-equiv='X-UA-Compatible' content='ie=edge'>
    <title>Document</title>
</head>
<body>
    <div id='app'>
        <input type="text" v-model='num1'>
        <select v-model = "sep">
            <option value="+"> + </option>
            <option value="-"> - </option>
            <option value="*"> * </option>
            <option value="/"> / </option>
        </select>
        <input type="text" v-model='num2' @keyup.enter ='calc'>
        <button type="text" @click='calc'>计算</button>
        <h5>计算结果是:{{result}}  </h5>
    </div>
    <script src='../js/vue.js'></script>
    <script>
       const vm = new Vue({
            el: '#app',
            data:{ 
                num1:'',
                num2:'',
                sep:'+',
                result:'',
             },
            methods:{
                calc(){
                    if (this.sep == "+") {
                        this.result = parseFloat(this.num1) + parseFloat(this.num2)
                    }else if (this.sep == "-") {
                        this.result = parseFloat(this.num1) - parseFloat(this.num2)
                    }else if (this.sep == "*") {
                        this.result = parseFloat(this.num1) * parseFloat(this.num2)
                    }else{
                        this.result = this.num1 / this.num2
                    }
                }
            },
        })
    </script>
</body>
</html>